body {
  background-color: cornflowerblue;
  padding: 0;
 
}


@media(max-width:998px) {
  body{
    font-size: 80%;
    align-items: center;
  }
}

@media(max-width : 768px) {
  body{
    font-size: 70%;
  }
}